@model LeagueManagerPost.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Losses)
        </dd>

    </dl>
    
    <hr />
</div>
<div>
    <h4>Players</h4>
    <table width="300" class="table">

        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Position</th>
            <th>Starter</th>
        </tr>

        @foreach (var item in Model.Players)
        {

            <tr>
                <td> @item.Number</td>
                <td> @item.Name </td>
                <td> @item.Position</td>
                <td> @item.Starter </td>
            </tr>

        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
