@model LeagueManagerPost.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Losses)
        </dd>

    </dl>
    <table width="300" class="table table-bordered">
        <thead>
            <tr>
                <th>Players</th>
                <th>@Html.ActionLink("New Player", "Create", "Players", new { teamId = Model.Id, teamname = Model.Name }, null)</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model.Players)
        {

            <tr>
                <td width="100"> @item.Name</td>
                <td width="100">@item.Number </td>
            </tr>

        }
    </table>
    <hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
